<div class="vh-100 dt w-100">
  <div
    style="background: linear-gradient(to left, rgba(10,240,183,0.3), rgba(0,1,255,0.3)), url('{{ include.hero.image | absolute_url }}') no-repeat center right;background-size: cover;"
    class="dtc v-mid cover ">
    <div class="w-70 center">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 white">{{ include.hero.title | default: site.title }}</h1>
      <h2 class="f4 fw6 white">{{ include.hero.description | default: site.description }}</h2>
    </div>
  </div>
</div>
