---
sitemap: false
---
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');

$sans-serif: 'Work Sans', 'Arial';

@import 'tachyons';
@import 'spackle';

body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
    a {
      color: var(--text-color);
    }
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

body, main {
  background: var(--bkg-color);
  color: var(--text-color);
}
