<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body class="bg-near-black washed-yellow pb5">
    <nav class="dt w-100 border-box pa3 ph5-ns fixed o-70 z-max">
      <a class="dtc v-mid link dim w-25" href="{{ '/' | absolute_url }}" title="Home">
        <img src="https://avatars0.githubusercontent.com/u/57728171?s=200&v=4" class="dib w2 h2 br-100" alt="Site Name">
      </a>
      <div class="dtc v-mid w-75 tr">
        <a class="link washed-yellow f6 f5-ns dib mr3 mr4-ns" href="#" title="About">Services</a>
        <a class="link washed-yellow f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Blog</a>
        <a class="link washed-yellow f6 f5-ns dib" href="#" title="Contact">Join Us</a>
      </div>
    </nav>
    {% if page.hero %}{% include hero.html hero=page.hero %}{% endif %}
    <main class="w-70 center pv6 f4 lh-copy">
      {{ content }}
    </main>
  </body>
</html>
